@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .newDishCard {
    @apply w-225 h-auto p-4 rounded-2xl shadow-2xl duration-100 ease-in-out bg-cardColor backdrop-blur-md hover:shadow-none hover:bg-gradient-to-bl from-emerald-400 to-emerald-700 flex flex-col items-center justify-center relative;
  }
}
